
body {
  h1 {
    text-align: center;
    border-style: groove;
    border-color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    background-color: grey;
  }
  h2 {
    border-style: dashed;
    justify-content: center;
    text-align: center;

    color: purple;
    padding-bottom: 10px;
  }background-color: whitesmoke;
}
div {
  text-align: center;
}
img {
  width: 700px;
  height: 500px;
}

ol {
  justify-content: center;
  border-style: solid;
  text-align: center;
}

